nav{
    background-color:  rgb(103, 65, 114) ;
    border-color:  #2A363B ;
}
ul{
    background-color:  rgb(103, 65, 114) ;
    list-style-type:none;
    padding-bottom:50px;
}
li:first-child{
    float: left;       
}
li {
    color:white;
    text-align: center;
    text-decoration: none;
    font-family: 'Acme', sans-serif;
    padding-top: 15px;
}
li:last-child{
    margin-right:25px;
}
button{
   
    background-color: rgb(103, 65, 114) ;
    border:0;
}

