<div class="login-page">
<form class="login-form col-sm-3 " (ngSubmit)="onSubmit(userid,password)" >
  <label for="signin" class="ribbon"> LOGIN</label>
  <label for="userid">User Name:</label>
  <input name="userid"  type="text"  [(ngModel)]="userid" [ngModelOptions]="{standalone: true}">
  <label for="password" > Password:</label>
  <input type="password" type ="password" [(ngModel)]="password"[ngModelOptions]="{standalone: true}">
  <button type="submit" class="btn">Login</button>
</form>
</div>